.bottom-sheet__overlay.active
    .bottom-sheet.active
        button.bottom-sheet__close-button
            +svg(16, 16, "multiply")
        include ../sections/achieve-section/achieve-section-community-success