mixin button-link-right(text, className, dataDisabled, icon)
    a.button(class= className, href="#" disabled=dataDisabled ? true : false)
        span.button__text= text
        span.button__icon
            +svg('20', '20', icon)