mixin tabs()

    .tabs 
        button.tabs__button.active 1 неделя
        button.tabs__button 2 неделя
        button.tabs__button 3 неделя
        button.tabs__button 4 неделя
        button.tabs__button 5 неделя
