.promo-card.promo-card--blue(style="background-image: url('img/promo-card/promo-blue.jpg')")
    .promo-card__content
        .promo-card__description 
            .promo-card__description-header
                .title Персональная программа +&nbsp;1&nbsp;месяц по клубной карте
                .promo-card__description-text Специальное предложение при первой покупке
            .promo-card__description-button
                +button-link('Подробнее', 'button--full-width')