include ../../tabs/tabs

.task-page
    .task-page__current-task
        include ../../jumbo-card/jumbo-card-description
    .task-page__personal-section

        .task-page__personal-section-header
            h1.title.title--s Акции
        
        .task-page__personal-section-content
            include ../../promo-card/promo-card-blue
