.task-section
    .task-section__current-task
        include ../../jumbo-card/jumbo-card
    .task-section__section

        .task-section__section-header
            h1.title.title--s План марафона
            p.text Пройдите марафон и получите в подарок коуч-сессию от тренера Pilates Flow
        //- .task-section__offer-list
        //-     .task-section__offer-slider.task-section__offer-slider--js.swiper
        //-         .swiper-wrapper
        //-             .swiper-slide
        //-                 include ../../offer-card/offer-card
        //-             .swiper-slide
        //-                 include ../../offer-card/offer-card-card
        //- .task-section__card-list 
        //-     include ../../lesson-card/lesson-card-complete
        //-     include ../../lesson-card/lesson-card
        //-     include ../../lesson-card/lesson-card
        //-     include ../../lesson-card/lesson-card
        //-     include ../../lesson-card/lesson-card
        //-     include ../../lesson-card/lesson-card
        //-     include ../../lesson-card/lesson-card
