.card(tabindex, onclick="")
    a.card__link(href="#")
    .card__image 
        img(src="img/card/card.jpg", alt="")
        .card__badge.card__badge--bottom-left 
            +pill('', 'Практический мастер-класс')
    .card__description
        .card__title Комбинация пилатеса и балета для плоского живота