.proposal-card
    .proposal-card__image
        img(src="img/jumbo-card/day-1.webp", alt="Персональная программа + 1 месяц по клубной карте")

        .proposal-card__image-pill 
            +pill('','21 день')

    .proposal-card__description
        .proposal-card__title Персональная программа + 1 месяц по клубной карте

    .proposal-card__button 
        +button-link('Подробнее', 'button--full-width button--secondary')

