.coach-block
    .coach-block__header 
        .coach-block__title Коуч-сессия 
        .coach-block__date 15 ноября
    .coach-block__description Для быстрого и эффективного достижения целей заполните небольшую анкету и программа будет адаптированна на основе ваших данных.

    .coach-block__button 
        +button('Пройти коуч-сессию', 'button--full-width')