.loading-page.loading-page--out
    .loading-page__content
        .loading-page__logo.loading-page__logo--show
            img(src="img/logo/logo.svg", alt="Логотип Pilates Flow", width="104", height="104")
        .loading-page__loading-indicator.loading-page__loading-indicator--show
            include ../../../assets/img/loader/loader.svg