include mixins/svg
include button/button
include button/button-right
include snackbar/snackbar
include exercise-day/exercise-day
include mixins/svg

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/style.css")
        title Telegram Mini App 
        meta(name="description", content="Telegram Mini App")
        meta(name="keywords", content="Telegram Mini App")

    body
        .app
            .app__content
                include sections/flow-page/flow-page

                //- .app__snackbar 
                //-     +snackbar('Ссылка отправлена в чат', 'snackbar__active')
                .app__nav-bar 
                    .app__nav-bar-content
                        include nav-bar/nav-bar



        
        