include mixins/svg
include button/button
include tabs/tabs
include button/button-right
include snackbar/snackbar
include exercise-day/exercise-day

include mixins/svg

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/style.css")
        title Telegram Mini App 
        meta(name="description", content="Telegram Mini App")
        meta(name="keywords", content="Telegram Mini App")

    body
        +button('Начать занятие')
        +button('Начать занятие', 'button--secondary')
        +button('Начать занятие', 'button--secondary-positive')
        +tabs()
        +exerciseDay(true)
        +exerciseDay(false)

        include nav-bar/nav-bar
        include coach-block/coach-block

        include info-card/info-card




        
        