include ../button/button-link

.jumbo-card.jumbo-card--with-info
    .jumbo-card__video(style="background-image: url('img/jumbo-card/day-1.webp')")
    .jumbo-card__content
        .jumbo-card__description 
            .jumbo-card__description-header
                .jumbo-card__description-text 
                    .jumbo-card__description-text-item 17 ноября
                    .jumbo-card__description-text-item Практический мастер-класс
                .title.title--inverse Как создать подтянутое тело без изнуряющих тренировок
                
            .jumbo-card__description-button
                +button-link-right('Вы зарагистрированы', 'button--full-width button--secondary-positive', false, 'check')
        .jumbo-card__more
            button.jumbo-card__more-button(onclick="this.classList.toggle('active')") Подробнее
                span.jumbo-card__more-button-icon 
                    +svg('16','16', 'angle-down')
            .jumbo-card__more-text 
                p С чего начать работу над телом в новом году, чтобы не бросить занятия, а прийти к желаемому результату.
                p Вы узнаете, как сформировать привычку заниматься регулярно и выстроить тренировочный процесс так, чтобы двигаться к целям без откатов.