.jumbo-card
    .jumbo-card__video    
        video(src="video/video.mp4" type="video/mp4" autoplay loop muted playsinline) 
    .jumbo-card__content
        
        .jumbo-card__description 
            .jumbo-card__description-header
                .title.title--inverse День 1
                .jumbo-card__description-duration 25 мин

            .jumbo-card__description-tag-list
                .jumbo-card__description-tag Расслабление шеи
                .jumbo-card__description-tag Укрепление позвоночника
            .jumbo-card__description-button
                +button('Начать занятие', 'button--full-width')