include ../button/button-link

.jumbo-card(style="background-image: url('img/jumbo-card/day-1.webp')")
    .jumbo-card__content
        .jumbo-card__description 
            .jumbo-card__description-header
                .title.title--inverse Супер-серия
                .jumbo-card__description-duration 25 мин
            .jumbo-card__description-button
                +button-link('Начать занятие', 'button--full-width')