.nav-bar 
    button.nav-bar__item.active
        .nav-bar__item-icon
            +svg("24", "24", "clipboard-notes")
        .nav-bar__item-label Задания
    button.nav-bar__item
        .nav-bar__item-icon
            +svg("24", "24", "layers")
        .nav-bar__item-label Мой поток
    button.nav-bar__item
        .nav-bar__item-icon
            +svg("24", "24", "user")
        .nav-bar__item-label Аккаунт
