.greeting-dialog
    .greeting-dialog__body
        .greeting-dialog__avatar 
            img(src="img/avatar/avatar.webp", alt="Елена Еленина")

        .greeting-dialog__text 
            h1.title.title--inverse Здравствуйте, Елена
            p.text.text--secondary-inverse Попробуйте тренировки с&nbsp;персональным ассистентом для быстрого и&nbsp;эффективного достижения целей!
        
    .greeting-dialog__footer 
        +button('Давайте начнем!')