.achieve-section
    .achieve-section__image(style="background-image: url('img/product/telegram.webp')")
    .achieve-section__content
        .achieve-section__header 
            .achieve-section__title
                .title Присоединяйтесь к сообществу Pilates Flow
            p.description Участники сообщества Pilates Flow всегда рады поддержать новичков и поделиться мотивацией. А эксперты раскрывают  секреты, как добиться результатов быстрее и эффективнее

        .achieve-section__about
            .achieve-section__about-header
                .title.title--s Получите рационы питания в подарок при подписке
            ul.achieve-section__about-list
                li.achieve-section__about-list-item Полноценный недельный рацион, включающий в себя все пищевые группы.
                li.achieve-section__about-list-item Рацион сбалансирован и учитывает потребности организма в основных микро и макроэлементах (витаминах и минералах, а также жирах, белках и углеводах)
                li.achieve-section__about-list-item Формирование здоровой и разнообразной микрофлоры кишечника начинается со сбалансированного питания

    .achieve-section__footer-fixed 
        +button-right('Вы подписаны', 'button--full-width button--secondary-positive', false, 'check')