.achieve-section
    .achieve-section__image(style="background-image: url('img/product/food.webp')")
    .achieve-section__content
        .achieve-section__header 
            .achieve-section__title
                .title Подписывайтесь на Pilates Flow и забирайте рацион питания в подарок
            ul.achieve-section__about-list
                li.achieve-section__about-list-item Здоровье и красота начинаются со сбалансированного питания.
                li.achieve-section__about-list-item Нутрициолог команды Pilates Flow подготовил недельный рацион питания, который учитывает потребности организма в белках, жирах, углеводах, а также витаминах и минералах.
                li.achieve-section__about-list-item Формирование здоровой и разнообразной микрофлоры кишечника начинается со сбалансированного питания

    .achieve-section__footer-fixed 
        +button-right('Проверяем', 'button--full-width button--processing', true, 'loader')