include ../../button/button-right

.activities-page
    .activities-section__offer
        .offer-card.offer-card--gift(tabindex)
            a.offer-card__link(href="#") 
            .offer-card__content
                .offer-card__header 
                    .offer-card__title Сбалансированные рационы питания в подарок
                .offer-card__button Забрать подарок
    .activities-section
        .activities-section__header
            h1.title.title--s Ближайшая активность

        .activities-section__content 
            include ../../jumbo-card/jumbo-card-info


    .activities-section
        .activities-section__header
            h1.title.title--s Календарь активностей

        .activities-section__content 
            .activities-section__day
                .activities-section__day-data 17 ноября
                include ../../card/card-set-alarm
            .activities-section__day
                .activities-section__day-data 17 ноября
                include ../../card/card
            .activities-section__day
                .activities-section__day-data 17 ноября
                include ../../card/card