.flow-page
    .flow-page__info-section
        .info-card
            .info-card__title 43
            .info-card__subtitle дня в потоке

        .info-card
            .info-card__title 320
            .info-card__subtitle минут


    .flow-page__header 
        h1.title Персональная программа
    .flow-page__exercise-list
        +exerciseDay(true)
        +exerciseDay(false)

    